.flexbox {
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
       
}

img {
    height: 200px;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
}

h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 60px;
    color: white
}

h3{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white
}

p{ 
    font-family: 'Raleway', sans-serif;
    text-align: center; 
    color: white
}

body {
    background: rgb(39,35,158);
    background: linear-gradient(90deg, rgba(39,35,158,1) 0%, rgba(31,57,126,1) 34%, rgba(22,102,43,1) 90%);

}

ul {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
    font-size: larger;
    color: white
}